.faqs-item-container {
  width: 80%;
  border: 1px solid #d7dae6;
  border-radius: 10px;
  margin-bottom: 20px;
}

.faq-item {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.plus-minus-btn {
  background-color: transparent;
  border: none;
}

.answer-text-container {
  color: #9aa5b1;
  width: 95%;
  padding-left: 20px;
}
